<mat-card class="card">
    <div class="title-area">
        <h2>Áreas Selecionadas</h2>
        <p>Clique nas regiões no mapa ou arraste as regiões para a coluna "Selecionadas".</p>
        <p> <b>Dica:</b> organize as regiões em ordem de relevância para você. As primeiras regiões serão 
            consideradas mais relevantes
        </p>
    </div>
    
    <div *ngIf="isLoadingAreas">
        <mat-progress-bar mode="indeterminate" class="loading"></mat-progress-bar>
    </div>

    <div class="example-container">
        <h2>Ignoradas</h2>
        
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="notSelected" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of notSelected" cdkDrag>
                <b>{{item.neighborhood}}: </b>
                {{item.sectorCode}} - {{item.sectorType}}
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Selecionadas</h2>
        
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="selected" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of selected" cdkDrag>
                <b>{{item.neighborhood}}: </b>
                {{item.sectorCode}} - {{item.sectorType}}
            </div>
        </div>
    </div>  
</mat-card>