<mat-card class="card">
    <div class="title-area">
        <h2>Áreas Selecionadas</h2>
        <p>Clique nas regiões no mapa que deseja incluir no cálculo.</p>
        <p> <b>Dica:</b> organize as regiões em ordem de relevância para você. As primeiras regiões serão 
            consideradas mais relevantes
        </p>
    </div>
    
    <div *ngIf="isLoadingAreas">
        <mat-progress-bar mode="indeterminate" class="loading"></mat-progress-bar>
    </div>


    <div cdkDropList class="drag-n-drop-list" (cdkDropListDropped)="drop($event)">
        <div class="drag-n-drop-box" *ngFor="let item of selected" cdkDrag>
            <b>{{item.neighborhood}}: </b>
            {{item.sectorCode}} - {{item.sectorType}}
        </div>
    </div>
</mat-card>