.spacer {
  flex: 1 1 auto;
}

.button {
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.toolbar {
  margin-bottom: 12px;
}

.toolbar-header {
  cursor: pointer;
}
