<div class="parent-div">
    <h2>Saiba quais são as melhores operadoras de telefonia celular para você.</h2>
    <p>A sugestão levará em conta métricas de cobertura, QoS e reclamações.</p>
    <div class="disclaimer">
        <mat-icon>info</mat-icon>
        <p class="p-disclaimer">Todos os dados utilizados são fornecidos pela ANATEL</p>
    </div>
    
    <p>Primeiro selecione sua cidade, depois as áreas que você mais frequenta (ex: casa, trabalho, etc), ou clique
    <a routerLink="/home">aqui</a> para saber mais sobre esta aplicação.</p>
</div>