<mat-accordion>
    <mat-expansion-panel [(expanded)]="panelOpenState">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Mapa
            </mat-panel-title>
            <mat-panel-description>
                Regiões
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Content -->
            <div class="loading-container" *ngIf="isLoading">
                <mat-spinner class="loading"></mat-spinner>
                <span>Escolha uma cidade primeiro...</span>
            </div>
            <div id="map"></div>

    </mat-expansion-panel>
</mat-accordion>