<mat-accordion>
    <mat-expansion-panel expanded (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Mapa
            </mat-panel-title>
            <mat-panel-description>
                Setores censitários
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Content -->
        <ng-template matExpansionPanelContent>
            <div *ngIf="isLoading">
                <mat-spinner class="loading"></mat-spinner>
            </div>
            <div id="map"></div>
        </ng-template>

    </mat-expansion-panel>
</mat-accordion>